 ul{
    text-decoration: none;
    list-style-type: none;
    
}
ul a{
    text-decoration: none;
    color: black;
}

.info{
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
.hgg span{
    justify-content: flex-end;
 }

 .cards{
    margin-top: 130px;
 }

 .infotext1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
 }

 .frr h5:hover{
  color: red;
  transition: 0.4s ease;
 }

 /* 1st part */
 .rrr{
  margin-top: 60px;
  
 }
  .rrr h5:hover{
    color: red;
    transition: 0.9s ease
 }

 .rrr h5{
  font-family: 'Times New Roman', Times, serif;
 }

 .rrr img{
  border-radius: 5px;
 }

 /* 2nd part */
 
 .ggg h5:hover{
  color: red;
  transition: 0.9s ease
}

.ggg h5{
font-family: 'Times New Roman', Times, serif;
}

.ggg img{
border-radius: 5px;
}
 /* Responsiveness */
 @media (max-width: 768px) {
    .hgg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ff{
        gap: 30px;
    }

    .list ul {
        gap: 6px; /* reduce spacing */
        justify-content: space-around; /* distribute items evenly */
        padding: 6px;
      }
    
      .list ul li a {
        font-size: 15px; /* make text slightly smaller */
      }

      
        .ff {
          flex-direction: row;
    justify-content: center;
    align-items: stretch;
        }

        .frr{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
   
        .frr h5{
          font-size: 22px;
        }

        .btt{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        
        
  
      }
        
      .cc img{
        border-radius: 20px;
      }

      
      

  @media (max-width: 480px) {
    .list ul {
      gap: 6px;
      flex-wrap: wrap; /* if screen is too small, let it wrap naturally */
    }
  
    .list ul li a {
      font-size: 14px;
    }

    
    
  }